body {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  background-image: url('background.png');
}

.page {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 20px;
}

#logoutButton {
  position: absolute;
  right: 0px;
  top: 0px;
}

#chatbox {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*text-shadow: 1px 1px 1px #999;*/
  position: absolute;
  bottom: 5px;
  width: 400px;
  height: 100px;
  color: #000000;
  margin-bottom: 5px;
}

#messageBox {
  height: 70px;
  border: 1px solid black;
  background-color: #fff;
  padding: 3px 5px;
  font-weight: 300;
  overflow: scroll;
}

#playerList {
  position: absolute;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  right: 0px;
  bottom: 30px;
  height: 105px;
  width: 150px;
  margin-right: 5px;
}

#chatbody {
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 75%;
  height: 17px;
  margin-left: 1px;
}

#submit {
  margin-top: 3px;
  margin-left: 1px;
  height: 26px;
  width: 20%;
}

#add {
  position: relative;
}

.button {
  width: 100px;
  height: 25px;
  border: 1px solid black;
  border-radius: 5px;
  color: #fff;
  font: bold 15px/1 "helvetica neue", helvetica, arial, sans-serif;
  text-shadow: 1px 1px 1px #000000;
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
}

span {
  color: red;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #222;
}

#players li{
  font-weight: 300;
  padding: 5px 7px;
  border-bottom: 1px solid #000;
  background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
}

#players li:nth-child(even) {
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
}

#playerListWrapper {
  height: 100%;
  margin-top: 5px;
  border: 1px solid black;
  overflow: scroll; 
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2), 0 1px 3px #333333;
}

.wideButton {
  width: 130px;
}

#gamePage {
  display: none;
  height: 400px;
}

#gameDiv {
  height: 800px;
  width: 1000px;
}

#analogDiv {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0px;
}

#shootDiv {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#gameOverlay {
  position: fixed;
  z-index: 999;
  top: 0px;
  right: 5%;
  display: none;
  height: 100px;
  font-size: 54px;
  text-align: center;
}

#statsPage {
  display:none;
  margin-left: 10%;
  margin-top: 6%;
}

#instructions {
  opacity: .6;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  color: black;
  padding: 10px 5px;
  display: none;
  position: absolute;
  left: 20px;
  top: 75px;
  border: 1px solid black;
  background-color: #838B8B;
}

#topNav {
  position: absolute;
  top: 0px;
}

#gameControls {
  margin-top: 30px;
}

th
{
  padding: 5px 3px;
  color:white;
}

td {
  border: 1px solid black;
}

h6 {
  font-weight: bold;
  color: #8F1200;
  margin-top: 10px;
  margin-bottom: 3px;
  text-align: center;
}

.add {
  width: 100%;
}

.sub {
  width: 100%;
}

caption {
  margin-bottom: 10px;
  font-size: 25px;
}

#points {
  margin: 10px 0px;
  font-size: 10px;
  text-align: center;
}

#back {
  position: absolute;
  top: 0px;
  right: 0px;
}

td:first-child {
  background-color: black;
  text-align: left;
}

#statsTable {
  text-align: center;
  margin-left: -300px;
}

table {
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

#loadingScreen {
  display: none;
}

#gunsColumn{
  position:absolute;
  margin-top: 10%;
  height: 80%;
  width: 10%;
  right: 2%;
  top: 0%;
}

.guns{
  z-index: 8;
  width: 100%;
  height: 25%;
  right: 0%;
  margin-top: 10%;
  position:relative;
  text-align: left;
  /*vertical-align: bottom;*/
  background-repeat: no-repeat;
  background-color: rgb(33, 139, 153);
  border-style:solid;
  border-width: 10px;
}

#gun1{
  /*background-image: url('images/rifle.png');*/
  vertical-align: text-bottom;
  text-align: center;
  width: 100%;
  height: 25%;
  
}

#gun2{
  /*background-image: url('images/machine_gun.png');*/
  vertical-align: text-bottom;
  text-align: center;
  width: 100%;
  height: 25%;
}


#levelUpRow{
  z-index: 8;
  height: 12%;
  position: absolute;
  bottom: 0%;
  left: 25%;
  width: 45%;
  display: inline-block;
  text-align: center;
  margin-right: 10%;
  display: none;
  background-image: url('background.png')
}

#health{
  display: inline-block;
  width: 20%;
}

#movement{
  display: inline-block;
  width: 20%;
}

#fireRate{
  display: inline-block;
  width: 20%;
}

#damage{
  display: inline-block;
  width: 20%;
}


img.center{
  margin-top: 5%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}


#callOut{
  position: absolute;
  text-align: center;
  z-index: 8;
  left: 0%;
  top: 15%;
  width: 10%;
  height: 50%;
  background-color: rgb(226, 9, 9);
  border-style:solid;
  border-width: 10px;  
}

#help{
  position: absolute;
  vertical-align: middle;
  text-align: center;
  z-index: 8;
  left: 0%;
  top: 16%;
  width: 10%;
  height: 20%;
  background-color: rgb(226, 9, 9);
  border-style:solid;
  border-width: 10px; 
  display: none;  
}

#run{
  position: absolute;
  vertical-align: middle;
  text-align: center;
  margin-top: 5%;
  z-index: 8;
  left: 0%;
  top: 35%;
  width: 10%;
  height: 20%;
  background-color: rgb(226, 9, 9);
  border-style:solid;
  border-width: 10px;  
  display: none; 
}

#gameLobby {
  display: none;
}

#lobbyPlayerList span {
  position: absolute;
  right: 0px;
}